In [50]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [51]:
from sklearn.model_selection import train_test_split

In [52]:
from sklearn.linear_model import LinearRegression

In [70]:
from sklearn.metrics import mean_squared_error, confusion_matrix

In [54]:
df=pd.read_csv("boston.csv")

In [55]:
df

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV,CAT. MEDV,Unnamed: 15,Unnamed: 16
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0,0,NaN,NaN
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6,0,NaN,NaN
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7,1,NaN,NaN
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4,1,NaN,NaN
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2,1,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,0.06263,0.0,11.93,0,0.573,6.593,69.1,2.4786,1,273,21.0,391.99,9.67,22.4,0,NaN,NaN
502,0.04527,0.0,11.93,0,0.573,6.120,76.7,2.2875,1,273,21.0,396.90,9.08,20.6,0,NaN,NaN
503,0.06076,0.0,11.93,0,0.573,6.976,91.0,2.1675,1,273,21.0,396.90,5.64,23.9,0,NaN,NaN
504,0.10959,0.0,11.93,0,0.573,6.794,89.3,2.3889,1,273,21.0,393.45,6.48,22.0,0,NaN,NaN
505,0.04741,0.0,11.93,0,0.573,6.030,80.8,2.5050,1,273,21.0,396.90,7.88,11.9,0,NaN,NaN

In [56]:
df.columns

Index(['CRIM', 'ZN', 'INDUS', 'CHAS', 'NOX', 'RM', 'AGE', 'DIS', 'RAD', 'TAX',
       'PTRATIO', 'B', 'LSTAT', 'MEDV', 'CAT. MEDV', 'Unnamed: 15',
       'Unnamed: 16'],
      dtype='object')

In [57]:
x=df[{'CRIM', 'ZN', 'INDUS', 'CHAS', 'NOX', 'RM', 'AGE', 'DIS', 'RAD', 'TAX','PTRATIO', 'B', 'LSTAT'}]

C:\Users\Gaurav\AppData\Local\Temp\ipykernel_11144\1549792090.py:1: FutureWarning: Passing a set as an indexer is deprecated and will raise in a future version. Use a list instead.
  x=df[{'CRIM', 'ZN', 'INDUS', 'CHAS', 'NOX', 'RM', 'AGE', 'DIS', 'RAD', 'TAX','PTRATIO', 'B', 'LSTAT'}]

In [58]:
x

,ZN,RAD,CRIM,NOX,TAX,B,DIS,RM,PTRATIO,INDUS,LSTAT,CHAS,AGE
0,18.0,1,0.00632,0.538,296,396.90,4.0900,6.575,15.3,2.31,4.98,0,65.2
1,0.0,2,0.02731,0.469,242,396.90,4.9671,6.421,17.8,7.07,9.14,0,78.9
2,0.0,2,0.02729,0.469,242,392.83,4.9671,7.185,17.8,7.07,4.03,0,61.1
3,0.0,3,0.03237,0.458,222,394.63,6.0622,6.998,18.7,2.18,2.94,0,45.8
4,0.0,3,0.06905,0.458,222,396.90,6.0622,7.147,18.7,2.18,5.33,0,54.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,0.0,1,0.06263,0.573,273,391.99,2.4786,6.593,21.0,11.93,9.67,0,69.1
502,0.0,1,0.04527,0.573,273,396.90,2.2875,6.120,21.0,11.93,9.08,0,76.7
503,0.0,1,0.06076,0.573,273,396.90,2.1675,6.976,21.0,11.93,5.64,0,91.0
504,0.0,1,0.10959,0.573,273,393.45,2.3889,6.794,21.0,11.93,6.48,0,89.3
505,0.0,1,0.04741,0.573,273,396.90,2.5050,6.030,21.0,11.93,7.88,0,80.8

In [59]:
y=df["MEDV"]

In [60]:
y

0      24.0
1      21.6
2      34.7
3      33.4
4      36.2
       ...
501    22.4
502    20.6
503    23.9
504    22.0
505    11.9
Name: MEDV, Length: 506, dtype: float64

In [61]:
x_train,x_test,y_train,y_test = train_test_split(x, y, test_size=0.25, random_state=42)

In [62]:
model=LinearRegression()
model.fit(x_train,y_train)

LinearRegression()

In [63]:
y_predict=model.predict(x_test)

In [64]:
y_predict

array([28.83885359, 36.00783288, 15.08324755, 25.23090886, 18.87864064,
       23.21398327, 17.5931124 , 14.30508093, 23.05438985, 20.62008346,
       24.78514683, 18.66833668, -6.9788951 , 21.83575737, 19.20898992,
       26.2868054 , 20.54379176,  5.65713224, 40.42358065, 17.64146116,
       27.32258958, 30.05056174, 11.15013704, 24.11530393, 17.89145648,
       15.79348591, 22.94743453, 14.2586068 , 22.26731194, 19.24709013,
       22.26897546, 25.24344002, 25.69165643, 17.98759507, 16.70286649,
       17.11631225, 31.19643534, 20.17835831, 23.71828436, 24.79196868,
       13.94575895, 32.00389982, 42.53869791, 17.44523722, 27.15354457,
       17.07482215, 13.89272021, 26.06440323, 20.36888769, 29.97813037,
       21.35346608, 34.32287916, 15.88498671, 26.17757739, 39.50970314,
       22.84123308, 18.95049088, 32.68913818, 25.02057949, 12.90539147,
       22.76052302, 30.53884316, 31.60797905, 15.92162168, 20.50670563,
       16.50798147, 20.50202198, 26.00723901, 30.63860954, 11.42877835,
       20.53765181, 27.56249175, 10.85162601, 15.96871769, 23.87570192,
        5.66369672, 21.47818991, 41.2820034 , 18.56559986,  9.08857252,
       20.97848452, 13.0630057 , 20.99054395,  9.34050291, 23.13686588,
       31.80106627, 19.10245917, 25.59186169, 29.14490119, 20.17571514,
       25.5962149 ,  5.20301905, 20.16835681, 15.08546746, 12.8601543 ,
       20.80904894, 24.68556943, -0.77450939, 13.33875673, 15.62703156,
       22.21755358, 24.58188737, 10.77302163, 19.50068376, 23.23450396,
       11.77388822, 18.36777924, 25.4383785 , 20.89079232, 24.08440617,
        7.3658717 , 19.16424347, 21.93734133, 27.41191713, 32.50857196,
       14.86885244, 35.05912525, 12.86075113, 20.83043572, 28.42077138,
       15.65853688, 24.67196362,  3.28420892, 23.79879617, 25.73329894,
       23.04815612, 24.73046824])

In [65]:
model.score(x_train,y_train)

0.748087259862344

In [66]:
model.score(x_test,y_test)

0.6844267283527131

In [67]:
np.sqrt(mean_squared_error(y_test,y_predict))

4.700924890603761